spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:h2:mem:itpdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
    username: ${SPRING_DATASOURCE_USERNAME:sa}
    password: ${SPRING_DATASOURCE_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: ${SPRING_JPA_DATABASE_PLATFORM:org.hibernate.dialect.H2Dialect}
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  port: 8080
jwt:
  secret: change-me-super-secret
  expirationMs: 86400000
logging:
  level:
    org:
      springframework:
        web: DEBUG
