spring:
  datasource:
    url: jdbc:mysql://db:3306/itpdb
    username: itp_user
    password: itp_pass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080
jwt:
  secret: change-me-super-secret
  expirationMs: 86400000
logging:
  level:
    org:
      springframework:
        web: DEBUG
